<div class="card" *ngIf="data$ | async as data"
  [attr.data-test]="'products-list-card'"
>

  <p-table
    [value]="data.selectedProducts"
    [tableStyle]="{'min-width': '60rem'}"
  >

    <ng-template pTemplate="header">
      <tr>
        <th>Product</th>
        <th></th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr
        [ngClass]="{'opacity-10': product.quantity === 0}"
        [attr.data-test]="'product-row'"
      >

        <td>
          <img
            [src]="product.thumbnail"
            [alt]="product.title"
            style="vertical-align: middle"
            class="shadow-4 product-img" />
        </td>

        <td>{{product.title | titlecase}}</td>

        <td>
          <app-quantity-field
            [quantity]="product.quantity"
            (quantityChangeByTypeAction)="onQuantityChangedByType($event, product.id)"
            (quantityChangeByValueAction)="onQuantityChangedWithNewVal($event, product.id)"
          ></app-quantity-field>
        </td>

        <td>{{product.price * product.quantity | currency:'USD'}}</td>

        <td>
          <button
            type="button"
            pButton pRipple
            icon="pi pi-trash"
            class="p-button-secondary"
            (click)="removeProductWithDelay(product.id, 200)"
          ></button>
        </td>

      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-end pr-5"
      *ngIf="data.selectedProducts.length">
        <div class="text-2xl text-right">
          {{ getProductListPrice(data.selectedProducts) | currency:'USD' }}
          <div class="text-sm text-right pt-2">
            Total price including VAT
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-xl">No products</td>
      </tr>
    </ng-template>

  </p-table>

</div>
