body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #17212f;
}

@import "~primeflex/primeflex.css";
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-dark-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';

.qnty-w {
  width: 30px !important;
}
